$primary: #6e31df; 
$black-1: #0e0e10; 
$secondary: #b896f8; 
$black-2: #1f1f23; 
$black-3: #18181b; 
$white-1: #dedee3; 
$grey-1: #464649; 
$grey-2: #3a3a3d; 
$red: #d63629; 
$white-2: #ffffff; 
$blue: #413eff; 
$orange: #ef8984; 
$tagLiveBackground: #d63629;
$spectators-background: #1f1f23;