$headline1: semi bold 1.75rem/normal Inter; 
$headline2: semi bold 1.5rem/normal Inter; 
$headline3: semi bold 1.25rem/1.375rem Inter; 
$button: 400 0.875rem/1rem Inter; 
$body1-regular: 400 1rem/1.5rem Inter; 
$body1-bold: 700 1rem/1.5rem Inter; 
$body2-bold: 700 0.875rem/1.5rem Inter; 
$body2-regular: 400 0.875rem/1.5rem Inter; 
$caption-regular: 400 0.75rem/1rem Inter; 
$caption-bold: 700 0.75rem/1rem Inter; 