@use "../vars/helpers.scss";

.video-banner-container {
  width: 698px;
  height: 240px;
  display: flex;
  justify-content: center;
  // overflow: hidden;
  position: relative;
  * {
    box-sizing: border-box;
  }
  .test {
    background-color: helpers.$orange;
  }
  .arrow-back {
    position: absolute;
    left: -32px;
    background-color: helpers.$black-1;
    width: 44px;
    height: 44px;
    top: calc(50% - 22px);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 5;
    svg {
      transform: scale(1.5);
    }
  }

  .arrow-foward {
    position: absolute;
    right: -32px;
    background-color: helpers.$black-1;
    width: 44px;
    height: 44px;
    top: calc(50% - 22px);
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    z-index: 5;
    svg {
      transform: scale(1.5);
    }
  }

  .video-stream-container {
    width: 611px;
    height: 238px;
    display: grid;
    grid-template-columns: 70% 30%;
    z-index: 3;

    &.inactive-left {
      // display: none;
      position: absolute;
      top: 0;
      transform: scale(0.9);
      left: -30px;
      z-index: 1;
    }

    &.inactive-right {
      // display: none;
      position: absolute;
      top: 0;
      transform: scale(0.9);
      right: -30px;
      z-index: 1;
    }

    .video-stream {
      width: 100%;
      background-color: blueviolet;
      position: relative;

      img {
        width: 100%;
        height: 100%;
        filter: blur(4px);
      }

      div {
        position: absolute;
        top: 16px;
        left: 15px;
        background-color: helpers.$red;
        border-radius: 2px;
        line-height: 1;
        padding-top: 2px;
        text-align: center;
        width: 58px;
        height: 16px;
        font-size: 0.75em;
        font-weight: 500;
      }

      svg {
        position: absolute;
        margin-left: auto;
        margin-right: auto;
        left: 0;
        right: 0;
        margin-top: auto;
        margin-bottom: auto;
        top: 0;
        bottom: 0;
        text-align: center;
        font-size: 2.8em;
        color: helpers.$white-2;
      }
    }

    .chat-stream {
      width: 100%;
      background-color: helpers.$black-2;
      padding: 8px;

      .first-section {
        display: flex;
        margin-bottom: 8px;
        img {
          width: 32px;
          height: 32px;
          border-radius: 50%;
        }

        .description-profile {
          h1 {
            font-size: 1.1em;
            color: helpers.$secondary;
            // background-color: red;
            margin-bottom: 0;
          }
          h3 {
            font-size: 0.9em;
            // background-color: blue;
            color: helpers.$secondary;
            font-weight: 200;
          }
          h4 {
            font-size: 0.8em;
          }
        }
      }

      .second-section {
        div {
          background-color: helpers.$grey-1;
          width: max-content;
          padding: 0 5px;
          border-radius: 10px;
          margin-bottom: 9px;
        }
        p {
          line-height: 1.1;
        }
      }
    }
  }
}
